

.headings
{
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
}
#text{
    font-family: Merriweather;font-size: 22px;
}
#contacttext{
  font-family: Merriweather;font-size: 21px;
}
#contactdetails{
  font-family: Merriweather;font-size: 18px;
}
