{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {% static '/css/main.css' %} ">
<br>
<br>

<div class="container">
    <img src="{% static '/images/capacitybuilding.png' %}" padding-left:25%  width="100%"    alt="...">
    
<br>
<br>
    <p class="headings"> Capacity building programmes for citizen scientists </p>
    <hr  color="red" style="margin-left:0px; height: 5px;width:15%;">
    <br>
    <div class="row" style="background-color: #F2F2F2;padding: 10px;border-radius: 25px;">

        
        <div class="col-sm-8" >
            <br>
            <p class="headings">Basics of Citizen science </p>

            <p class="text-justify" id="text">
                This training programme will cover the basics of citizen science: the Importance of citizen science, data collection platforms, types of projects, 
                project design, project management, effective outreach methods, Do’s and Don'ts, basic data collection methods, softwares and open access data sources etc. 
            </p>

        </div>
        <div class="col-sm-4" >
            <img src="{% static '/images/academic research.svg' %}" padding-left:25%  width="100%"    alt="...">
        </div>

    </div>
    <br>
    <div class="row" style="background-color: #F2F2F2; padding: 10px;border-radius: 25px;">
        <div class="col-sm-8" >
            <p class="headings">Taxonomy Workshops </p>
            <p class="text-justify" id="text">
                Hands-on workshops on taxonomy will be carried out at the Kerala Forest Research Institute. Workshops will be focusing on capacitating young conservationists and enthusiasts on proper identification of selected taxonomic groups. Under expert guidance, 
                participants will be encouraged to identify and scrutinise crowdsourced data available on open access platforms like iNaturalist as the hands on training for this program.   
            </p>

        </div>
        
        <div class="col-sm-4" >
            <img src="{% static '/images/pollinator_count.svg' %}" padding-left:25%  width="100%"    alt="...">

        </div>

    </div>

    <br>
    <div class="row" style="background-color: #F2F2F2; padding: 10px;border-radius: 25px;">        
        <div class="col-sm-8" >
            <br>
            <p class="headings">Data management, analysis and visualisation</p>
            <p class="text-justify" id="text">
                If we are unable to interpret the data, all the effort we put into data collection will be in vain. So before designing a project you should have a clear idea of 
                what kind of data you should be collecting, how it should be managed, what kind of output you are expecting and
                 what analysis should be carried out to interpret the data. This session will be covering the basics of biostatistics and introduction to softwares. 
            </p>

        </div>
        <div class="col-sm-4" >
            <img src="{% static '/images/public_library.jpg' %}" padding-left:25%  width="100%"    alt="...">
        </div>

    </div>


</div>

{% endblock content %}