

    {% extends "base.html" %}
    {% load static %}
    
    {% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {% static '/css/main.css' %} ">
    <br>
<br>
<br>
<br>
    <div class="container" style="background-color: darkgreen;">
        <div class="row">
            <div class="col-sm-7" >
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1961.3183234998298!2d76.3474709879789!3d10.529257972095312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7e59732f11133%3A0x8946a109256da059!2sCentre%20for%20Citizen%20Science%20and%20Biodiversity%20Informatics!5e0!3m2!1sen!2sin!4v1676438674351!5m2!1sen!2sin"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-5" style="margin-top:10%;">

                <p style="color: orange" class="headings">Contact us</p>
                <hr >
                <div class="row">
                    <br>
                    <div class="col-sm-7">
                        <p  style="color: white" id="contacttext" class="text-justify">Centre for Citizen Science &

                            Biodiversity Informatics,
                            Kerala Forest Research Institute
                            Peechi,  Pin-680653,
                            Thrissur , Kerala, India.
                        </p>
                            <br>


                    </div>
                    <div class="col-sm-5">
                        <p id="contactdetails"><a href="tel: +91 4872690272" style="color: white;"><i class="bi bi-telephone"></i> +91 4872690272</a></p>

                        <p id="contactdetails"><a href="mailto:citsci@kfri.res.in" style="color: white;"><i class="bi bi-envelope" ></i> citsci@kfri.res.in </a></p>

                        <p id="contactdetails"><a href="mailto:ccsbi@kfri.res.in" style="color: white;"><i class="bi bi-envelope" ></i> ccsbi@kfri.res.in </a></p>

                        <p id="contactdetails">
                            <b> <a href="https://www.facebook.com/profile.php?id=100088452392023" ><i class="bi bi-facebook"> </i></a></b>
                             &nbsp;
                             <a href="https://www.instagram.com/citsci_india/"><i class="bi bi-instagram"></i></a>
                             &nbsp;
                             <a href="https://www.youtube.com/channel/UCQOj_87QKImHsRJmUUrTsDg"><i class="bi bi-youtube"></i></a>
                             &nbsp;
                             
                        </p>
                        
                        
                    </div>
                </div>

            </div>


        </div>
       
      </div>


        {% endblock content %}