{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {% static '/css/main.css' %} ">

<style>


    .observation {
      --bg-color: #ffd861;
      --bg-color-light: #ffeeba;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(10, 43, 233, 0.281);
      
      
    }
    .volunteer{
      --bg-color: #ffd861;
      --bg-color-light: #92f1c2;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(10, 43, 233, 0.281);
    }

    .dataset{
      --bg-color: #ffd861;
      --bg-color-light: #92f1c2;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(10, 43, 233, 0.281);
    }
    .institue{
      --bg-color: #ffd861;
      --bg-color-light: #92f1c2;
      --text-color-hover: #4C5656;
      --box-shadow-color: rgba(10, 43, 233, 0.281);
    }
    
    
    
    .card {
      width: 220px;
      height: 321px;
      background: #fff;
      border-top-right-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      box-shadow: 0 14px 26px rgba(0,0,0,0.04);
      transition: all 0.3s ease-out;
      text-decoration: none;
    }
    
    .card:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 24px 46px var(--box-shadow-color);
    }
    
    .card:hover .overlay {
      transform: scale(4) translateZ(0);
    }
    

    
    .card:hover p {
      color: var(--text-color-hover);
    }
    
    .card:active {
      transform: scale(1) translateZ(0);
      box-shadow: 0 15px 24px rgba(0,0,0,0.11),
        0 15px 24px var(--box-shadow-color);
    }
    
    .card p {
      font-size: 17px;
      color: #4C5656;
      margin-top: 30px;
      z-index: 1000;
      transition: color 0.3s ease-out;
    }
    .overlay {
      width: 118px;
      position: absolute; 
      height: 118px;
      border-radius: 50%;
      background: var(--bg-color);
      top: 70px;
      left: 50px;
      z-index: 0;
      transition: transform 0.3s ease-out;
    }

  .navbar {

    width: 100%;
  }
  :root {
    --back-to-top-offset: 200px;
    --back-to-top-button-size: 2.8em;
    --color-accent: rgb(13,95,123);
	--color-accent-bright: rgb(25,66,99);
	--color-accent-alpha: rgba(10, 43, 233, 0.281);
}
#back-to-top {
	place-self: end;
	position: sticky;
	margin-top: calc(100vh + var(--back-to-top-offset));
	bottom: 2.7em;
	right: 2em;
  float: right;
	min-width: var(--back-to-top-button-size);
  width: 10px;
	height: var(--back-to-top-button-size);
	border-radius: 50%;

	display: grid;
	place-items: center;

	text-decoration: none;
	background-color: var(--color-accent);
	box-shadow: 0 0.6em 1em 0.2em var(--color-accent-alpha);
	transform: translateY(0%);
	transition: ease-out 200ms;
	transition-property: transform, background-color;
}

#back-to-top:hover {
	transform: translateY(-22%);
	background-color: var(--color-accent-bright);
}

#back-to-top::after {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translateY(-30%);
	background-color: rgba(0, 0, 0, 0);
	display: block;
}


</style>


<div class="container">
    <img id="img" src="{% static '/images/headerimg1.svg' %}" style="margin-left: 5%;"  alt="...">

</div>
<div  class="container-fluid" style="padding: 0px;">
    <nav class="navbar fixed navbar-expand-lg  navbar-dark bg-dark" style="background: linear-gradient(to right, rgb(27,63,96) , rgb(12,97,125));">
        <div class="container-fluid" style="width: 100%; padding: 0px;">
          <button
          class="navbar-toggler "
          type="button"
          data-toggle="collapse"
          data-target="#navbarExample01"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="navbar-toggler-icon"></i>
        </button>
          <div class="collapse navbar-collapse" id="navbarExample01" style="margin-left: 25%;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 20px;">
              
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Networks">Networks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Resources">Resources </a>
              </li>                  
              <li class="nav-item">
                <a class="nav-link" href="/Capacity">Capacity Building</a>
              </li>                    
              <li class="nav-item">
                <a class="nav-link" href="/Events">Events</a>
              </li>                  
              <li class="nav-item">
                <a class="nav-link" href="/Opportunities">Opportunities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>

                  
            </ul>
          </div>
        </div>
      </nav>
</div>
<div class="container">


    <img src="{% static '/images/Home1.jpeg' %}" width="100%"   alt="...">
    <p class="text-center" style=" font-family: Merriweather;font-size: 22px;"><b><i>Curiosity fuels motivation to explore and learn. Our own backyard is the best place to start! Are you curious? Want to explore and learn?
    
        You are at the right place!<span style="color: #0E5D7A;" > The Centre for Citizen Science and Biodiversity Informatics</span> will guide you to be a citizen scientist! </b ></i></p>
    <br/>
    <br/>


    <div class="row">
        
        <div class="col-md-6" >
            <br/>
            <p class="headings">What is Citizen Science<p> 

 

            <br/>  
            <p class="text-justify" style=" font-family: Merriweather;font-size: 22px;">Citizen science is both an opportunity and a tool! An opportunity for the general public to take part and contribute to science. And a well versed tool for researchers to pool in crowd sourced data. Citizen science is the collaborative research carried out by citizen volunteers and professional scientists to solve a real world question. This crowd sourcing has the potential to collect numerous data from wider locations in a shorter period of time. 
            </p>
            <p class="text-justify" style=" font-family: Merriweather;font-size: 22px;">Across the world, Citizen science brings together people, scientists and policymakers for the conservation of natural resources. Starting from project design to policy implementation, the general public has potential roles to play. 
            </p>
        </div>
        <div class="col-md-5" >
            <img src="{% static '/images/home2.jpg' %}" padding-left:25%  width="150%"    alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <img src="{% static '/images/home3.jpg' %}" padding-left:25%  width="100%"  style="margin-top: -12%;"   alt="...">
        </div>
        <div class="col-md-6" >  


            <br/>    
            <br/>
            <br/>  
            <br/>
            <br/>    
            <br/>
            <br/>  
            <p class="headings">Citizen Science In India? </p> 
            <p class="text-justify" style=" font-family: Merriweather;font-size: 22px;">We are facing a severe data shortage on biodiversity, especially on lesser-known and non-charismatic species. Crowd-sourced data could help us understand their ecology, distribution and population status. In a biodiversity-rich country like ours, Your contributions matter!</p>

        </div>
    </div>
    <p class="headings" style="text-align: center;">Centre for Citizen Science and Biodiversity Informatics</p>
    <p class="text-justify" style=" font-family: Merriweather;font-size: 22px;">
        Building a knowledgeable society is inevitable for the conservation and management of natural resources. Training the general public to explore and learn their biodiversity is the best way to do so and Citizen science can be a perfect tool for that. The Centre for Citizen Science and biodiversity informatics (CCSBI) is an initiative by the Kerala Forest Research Institute. We envision carving out a knowledgeable society of citizen scientists through outreach and capacity building, and to generate quality biodiversity data for the future management and conservation activities. 
    </p>


    <p class="headings">Objectives: </p>



       
        <ul style=" font-family: Merriweather;font-size: 22px;">
            <li>
                Coordinate and co-develop citizen science programmes in critical areas,
            </li>
            <li>
                Generate high-quality biodiversity data for science and conservation,
            </li>
            <li>
                Organise capacity-building workshops for researchers for developing effective citizen science programmes, big data analytics and policy-making,
            </li>
            <li>
                Develop public outreach programmes to improve environmental awareness and the capacity of citizens to contribute quality data, and
            </li>
            <li>
                Collate biodiversity data from the state.
            </li>
        </ul>

    <br>
    <p style="text-align: center;  font-family: Merriweather;font-size: 22px; color: #808080; font-weight: bold;" >We welcome you all to explore, learn and grow with us!</p>

    <p class="headings" style="text-align: center;">Our Network & Impact</p>
    <br>
    <div class="row">
        <div class="col" style="width:100%">
            <div class="card text-center institue" >
                <div class="card-body" style="height: 300px;">
                    <img src="{% static '/images/icon5.png' %}" style="height:75px;"    alt="...">
                    <h3>50 +    </h3>
                    <h3>Institutions</h3>
                    <hr color="red">
                    <p>Actively participating in 

                        this citizen Science 
                        
                        Intitiative</p>
                    
                </div>
            </div>
        </div>

        <hr>
        <div class="col">
            <div class="card text-center volunteer">
                <div class="card-body" style="height: 300px;">
                    <img src="{% static '/images/icon2.png' %}"   alt="...">
                    <h3>500 + Volunteers </h3>
                    <hr color="red">
                    <p>Actively  contributing their 
                        
                        observations.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="col" >
            <div class="card text-center  observation " >
                <div class="card-body" style="height: 300px;">
                    <img src="{% static '/images/icon3.png' %}"   alt="...">
                    <h3>5000 + Observations </h3>
                    <hr color="red">
                    <p>All over 5000+
                        Observations</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="col">
            <div class="card text-center dataset">
                <div class="card-body" style="height: 300px;">
                    <img src="{% static '/images/icon4.png' %}"   alt="...">
                    <h3>DataSets  </h3>
                    <br>
                    <hr color="red">
                    <p>Quality Data for Scientific 
                        Research activities</p>
                </div>
            </div>
        </div>

        

    </div>
    <br>
    
    <div class="row">
        
        <div class="col-md-5" >
            
            <br/>
            <b><hr  color="red" style="margin-left:0px; height: 5px;width:15%;"></b>
            <p class="headings">Join the Growing </p>
            <p class="headings">CitSci Network</p>

            <p class="text-justify" style=" font-family: Merriweather;font-size: 22px;">
                Becoming a citizen scientist is quite simple; create an account on a CitSci platform like <a href="https://www.inaturalist.org">iNaturalist</a>, explore your backyard, click photos of the biodiversity around you and upload your observations. Welcome to the community!


            </p>
            <p class="text-justify" style=" font-family: Merriweather;font-size: 22px;">
                Want to do more? We will help you take part in prestigious CitSci projects across the country or to create your own citsci projects. Check out the Projects and Resources page for more information.  
            </p>
        </div>
        <div class="col-md-7" >
            <img src="{% static '/images/home5.png' %}"  width="100%" height="100%"   alt="...">
        </div>
    </div>
    <a id="back-to-top" href="#">👆🏼</a>
    
</div>
<br>
<b><hr ></b>
<footer class="page-footer font-small ">
  <div class="container">
    <div class="row">
    
      <div class="col-sm-3" >
        <p class="headings">Get In Touch</p>
        <b><hr  color="red" style="margin-left:0px; height: 2%;width:45%;"></b>
        
        
        <a href="mailto:citsci@kfri.res.in" style="color: black;"><i class="bi bi-envelope" ></i> citsci@kfri.res.in </a>, <a href="mailto:ccsbi@kfri.res.in" style="color: black;">ccsbi@kfri.res.in </a> 
        <br>

        <span><a href="tel: 04872690272" style="color: black;"><i class="bi bi-telephone"></i> 04872690272</a></span>
        <br>
        <span>
          <a href="https://www.facebook.com/profile.php?id=100088452392023"><i class="bi bi-facebook"> </i></a>
          &nbsp;
          <a href="https://www.instagram.com/citsci_india/"><i class="bi bi-instagram"></i></a>
          &nbsp;
          <a href="https://www.youtube.com/channel/UCQOj_87QKImHsRJmUUrTsDg"><i class="bi bi-youtube"></i></a>
          &nbsp;
          
        </span>

      </div>
      <div class="col-md-3" >
          <img src="{% static '/images/LOGO.png' %}"  width="100%"    alt="...">
      </div>
      <div class="col-sm-3" >
        <img src="{% static '/images/logopng.png' %}"  width="80%"    alt="...">
      </div>

      <div class="col-sm-3" >
        
        <span>Centre for Citizen Science &

          Biodiversity Informatics,
        </span><br><span>
          
          Kerala Forest Research Institute
          
          Peechi P.O,  Pin- 680653
        </span><br><span>
          Thrissur , Kerala, India.

        
      </div>
    </div>
    <br>



  </div>
  

</footer>
<script>
  $(document).ready(function() {
      $( " .nav-item" ).bind( "click", function(event) {
          
          var clickedItem = $( this );
          $( ".nav-item" ).each( function() {
              $( this ).removeClass( "active" );
          });
          clickedItem.addClass( "active" );
      });
  }); 
  </script>
{% endblock content %}
