{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {% static '/css/main.css' %} ">


<div class="container">
    <br>
<br>
<br>
<p  style="text-align: center;  font-family: 'Oswald', sans-serif; font-size: 32px;"> Work with us </p>

    <div class="row">
        <div class="col-md-5">

            <img src="{% static '/images/oppo1.png' %}"  alt="Biodiversity internship programme" width="100%" height="100%">

        </div>
        <div class="col-md-7">
            <br>
            <br>
            <p class="headings ">Biodiversity internship programme</p>
            <p class="text-justify" id="text">CCSBI is inviting interns to carry out citizen science projects
                across the state. Postgraduates/PG students (life science or
                environmental science) can apply for this internship. The
                program will be focusing on creating and executing a citizen
                science project on your own, on any public oriented platform.
            </p>

        </div>


    </div>

    <div class="row">

        <div class="col-md-7">
            <br>
            <br>
            <br>
            <p class="headings">MSc / BSc dissertation </p>
            <p class="text-justify" id="text">Graduate and postgraduate students (Life science) can contact the Centre for Citizen Science and Biodiversity Informatics for carrying out short-term research on CitSci projects as UG/PG dissertation under Dr Balakrishnan Peroth, Scientist, Dept. of Wildlife Biology, KFRI.
            </p>

        </div>
        <div class="col-md-5">
            
            <img src="{% static '/images/oppo2.jpeg' %}"  alt="MSc / BSc dissertation" width="100%" height="100%">

        </div>


    </div>

    <div class="row">
        <div class="col-md-5">
            <img src="{% static '/images/oppo3.png' %}"  alt="Outreach interns" width="100%" height="100%">

        </div>
        <div class="col-md-7">
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="headings">Outreach interns </p>
            <p class="text-justify" id="text">Outreach internship is designed for arts and media students. It is aimed at encouraging students to come up with innovative ideas for promoting citizen science and spreading its achievements through virtual media platforms. It can be videos, art forms, installations etc. 
            </p>

        </div>


    </div>


</div>
{% endblock content %}