
    {% extends "base.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    
    {% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {% static '/css/main.css' %} ">
<style>
  
      /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  #invasion #text {
    position:relative;
    visibility:hidden;
  }
  #invasion:hover #text {
    visibility:visible;
    /**transition: .5s ease;**/
    opacity: 1;
    left: 50%;
    top:-55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 7px;
    animation: slow 20s ease forwards;
  }
  #invasion:hover #img {
    opacity: 0.1;
  }
  #invasion{
    height: 45%;
  }
  #bat #text {
    position:relative;
    visibility:hidden;
  }
  #bat:hover #text {
    visibility:visible;
    /**transition: .5s ease;**/
    opacity: 1;
    left: 50%;
    top:-55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 7px;
  }
  #bat:hover #img {
    opacity: 0.1;
  }
  #bat{
    height: 45%;
  }
  #pollinator #text {
    position:relative;
    visibility:hidden;
  }
  #pollinator:hover #text {
    visibility:visible;
    /**transition: .5s ease;**/
    opacity: 1;
    left: 50%;
    top:-55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 7px;
  }
  #pollinator:hover #img {
    opacity: 0.1;
  }
  #pollinator{
    height: 48%;
  }
  #forestbiodiversitydatabase #text {
    position:relative;
    visibility:hidden;
  }
  #forestbiodiversitydatabase:hover #text {
    visibility:visible;
    /**transition: .5s ease;**/
    opacity: 1;
    left: 50%;
    top:-55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 7px;
  }
  #forestbiodiversitydatabase:hover #img {
    opacity: 0.1;
  }
  #forestbiodiversitydatabase{
    height: 48%;
  }
  
  #localbiodiversity #text {
    position:relative;
    visibility:hidden;
  }
  #localbiodiversity:hover #text {
    visibility:visible;
    /**transition: .5s ease;**/
    opacity: 1;
    left: 50%;
    top:-55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 7px;
  }
  #localbiodiversity:hover #img {
    opacity: 0.1;
  }
  #localbiodiversity{
    height: 55%;
  }
  #text{
    font-family: Merriweather;font-size: 18px;
  }


</style>
        
<br>
<div class="container" >
  <div class="center" style="margin-left: 15%;" >
    <!-- <img src="{% static '/images/projects.png' %}" width="700px" height="600px"  alt="...">-->
  </div>
  
  <br>
  <br>
  <h2 style="color: #1E93FE;">Explore and contribute !</h2>
  <hr  color="red" style="margin-left:0px; height: 5px;width:15%;">
</div>

<br>
<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <p class="headings">The Fruit Bat Project</p>
      <div class="card " id="bat" >
        <img href = "#" id="img" src ="{% static '/images/bat2.jpg' %}" style="height: 100%;" alt="The Fruit Bat Project">
        <br>
        <p class="text-justify"  id="text"  >
          After the spill of zoonotic diseases like Nipah and covid 19, human attitude towards bats and their roosts has shifted significantly. 
          Many populations have been chased away from their native roost sites across Kerala, altering the population status and natural distribution of the species. 
          For the conservation and proper management of bats, we have to understand their  ecology, specifically roosting sites and feeding grounds. 
          The fruit bat project is aimed at identifying and mapping the roosting sites of a common fruit bat, the Indian flying fox; <i>Pteropus medius</i>. 
          You may find them roosting on tall, wide trees, mostly in disturbed habitats.  
           <a href="https://thefruitbatproject.weebly.com/"  class="btn btn-primary"  target="_blank">Know More</a>
          </p>
          

      </div>

    </div>
    <div class="col-sm-6">
      <p class="headings">Invasion watch India</p>
      <div class="card " id="invasion">
        <img href = "#" id="img" src ="{% static '/images/invasionwatch.jpg' %}" style="height: 100%;" alt="Invasion watch India">
        <p class="text-justify"  id="text">
          Across the world, natural habitats are being lost to invasive species. In India, species like <i>Lantana camara </i> and Giant African snails are taking over natural habitats, 
          causing irreversible damages. The distribution and rate of spread of such species should be monitored for their proper management. This project is aimed at mapping invasive 
          flora and fauna across the country. This will help us understand the trends of invasive spread, with which we can develop local, species-specific management plans. 
          You can contribute by recording any invasive species from anywhere within the country. <a href="https://www.inaturalist.org/projects/invasion-watch"  class="btn btn-primary" target="_blank">Know More</a>

        </p>

      </div>

    </div>


  </div>
  <div class="row" style="margin-top: -25%;">
    <div class="col-sm-6">
      <p class="headings">Pollinator count</p>
      <div class="card "  id="pollinator">
        <img href = "#" src ="{% static '/images/pollinator.jpg' %}"  id="img"  style="height: 100%;" alt="Pollinator count">
        <br>
        <p class="text-justify" id="text">
          Loss of pollinator diversity has started to threaten the ecosystem stability as well as the world economy. 
          Raging temperatures and loss of natural habitats make our diverse insect populations vulnerable. We might have already lost many populations,
           but we lack any scientific data as no proper monitoring for pollinators is carried out nationally. To avoid further decline we need to look at the effect
            of climate change on  population and distribution trends of major pollinator species. This project is aimed at understanding the pollinator dependence on native plants, 
          population and  distribution status and the challenges faced by them. Follow our social media accounts for further updates.    </p>
      </div>
  
    </div>


    <div class="col-sm-6">
      <p class="headings">Forest Biodiversity database</p>
      <div class="card " id="forestbiodiversitydatabase">
        <img href = "#" src ="{% static '/images/forestbiodiversitydatabase.jpg' %}" id="img"  style="height: 100%;" alt="Forest Biodiversity database">
        <p class="text-justify"  id="text">
          Our tropical climate makes our forests one of the most diverse ecosystems in the world. Effect of anthropogenic influences and climate change is concerning, 
          shouting out the need for frequent monitoring of biodiversity throughout our protected areas. A biodiversity database for each protected area is being developed 
          by carrying out <a href="https://www.inaturalist.org/pages/bioblitz+guide" target="_blank">bioblitz</a>-like surveys across the state. Locality specific databases will be highly beneficial for identifying hotspots and maintaining vulnerable habitats.
           Data will be published in public data repositories facilitating easy access for further research and activities.
        </p>
      </div>

    </div>

 

  </div>
  <div class="row" style="margin-top: -20%;">
    <div class="col-sm-6">
      <p class="headings">Institutional-Biodiversity database</p>
      <div class="card " id="localbiodiversity" >
        <img href = "#" src ="{% static '/images/localbiodiversity.jpeg' %}" id="img"  style="height: 100%;" alt="Institutional-Biodiversity database">
        <p class="text-justify" id="text">
          Urban wildlife is the least studied biological resource around us. We currently lack data on locality specific urban biodiversity.
           A ward-level urban-biodiversity database is being generated in collaboration with local governing bodies. 
          This data can be very useful in identifying biodiversity hotspots and creating efficient management policies.   
        </p>

      </div>

    </div>
    <div class="col-sm-6">
      <p class="headings">Riverscaping</p>
      <div class="card " id="localbiodiversity" >
        <img href = "#" src ="{% static '/images/Riverscaping.jpg' %}" id="img"  style="height: 100%;" alt="Riverscaping">
        <p class="text-justify" id="text">
          The Riverscaping project is aimed at understanding the ecological and environmental importance of riparian habitats. 
          It is one of the most biologically diverse ecotones which acts as a transition zone between two major ecosystems. 
          Biodiversity assessments will be carried out across the urban and wild riverbanks of Kerala with the help of citizen scientists. 
          Results will give a clear idea about the significance of natural river banks in determining its surrounding communities   
        </p>

      </div>

    </div>
  </div>


</div>


<!--
  <br>
  <div class="container">
    <h3>Invasion watch India</h3>
  </div>
  
  <br>
  <br>
    <div class = container1   >
  
  
      <div class = card>
        <div class = image>
          <img href = "#" src ="{% static '/images/invasionwatch.jpg' %}">
        </div>

      </div>    
    </div>

    <br>
<div class="container">
  <h3>Pollinator count</h3>
</div>

<br>
<br>
  <div class = container1>


    <div class = card>
      <div class = image>
        <img href = "#" src ="{% static '/images/pollinator.jpg' %}">
      </div>

    </div>    
  </div>

  <br>
<div class="container">
  <h3>Forest Biodiversity database</h3>
</div>

<br>
<br>
  <div class = container1>


    <div class = card>
      <div class = image>
        <img href = "#" src ="{% static '/images/forestbiodiversitydatabase.jpg' %}">
      </div>

    </div>    
  </div>

  <br>
<div class="container">
  <h3>Institutional-Biodiversity database </h3>
</div>

<br>
<br>
  <div class = container1>


    <div class = card>
      <div class = image>
        <img href = "#" src ="{% static '/images/localbiodiversity.jpg' %}">
      </div>

    </div>    
  </div>

  <br>
<div class="container">
  <h3>Biodiversity data accumulation programme </h3>
</div>

<br>
<br>
  <div class = container1>


    <div class = card>
      <div class = image>
        <img href = "#" src ="{% static '/images/dataaccumulation.jpg' %}">
      </div>

    </div>    
  </div>
  !-->

    {% endblock content %}